<h5><u>{{description}}</u></h5>
<form [formGroup]="budgetActionForm">
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label>{{'Codigo Sap Expediente'}}</mat-label>
        <input type="text" matInput [formControl]="codigo_sap_expediente" [matAutocomplete]="auto"
              [attr.aria-label]="label" placeholder="Codigo Sap Expediente" [errorStateMatcher]="matcher">
        <mat-icon matSuffix *ngIf="whileLoading"><mat-spinner [diameter]="15"></mat-spinner></mat-icon>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='codigoFn($event.option.value)'>
          <mat-option *ngFor="let codigo of matchingCodigos$ | async" [value]="codigo">
            {{displayFn(codigo)}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="hasError('codigo_sap_expediente', 'required')">{{'Campo obligatorio'}}</mat-error>
        <mat-error *ngIf="hasError('codigo_sap_expediente', 'forbidden')">{{'Entrada incorrecta'}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label>{{'Cod Sociedad'}}</mat-label>
        <input matInput placeholder="{{'Cod Sociedad'}}" autocomplete="off" formControlName="cod_sociedad">
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-end actions">
    <button mat-stroked-button color="basic" class="mat-stroked-button" type="button" [routerLink]="'/provisiones-asscoadas'"><span>{{'Volver'}}</span></button>
    <button mat-raised-button color="primary" type="submit">{{'Confirmar'}}</button>
  </div>
</form>
